.container {
    max-width: 475px;
	  width: 96%;
	  margin: auto;

}
body {
    font-family: "Helvetica";
  	margin: 0;
  	padding: 0;
  	color: darkgrey;
    background-color: #f3f3f3;
    background-image: url("background.jpg")
}

/*---Header---*/
h1 {
    font-size: 50px;
    color: white;
    float: left;


}
header {

    width: auto;
    height: 125px;
    background-color: #0080ff;
    box-shadow: 1px 3px 8px 1px lightgrey;

}


.style {
  width: auto;
  height: 400px;
  background-color: white;
  padding: 10px;
}
.blue {
  width: auto;
  height: 213px;
  background-color: #0080ff;
}

video {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
  cursor: pointer;
}



#genji {
  margin-top: -450px;
  margin-left: 180px;
}
#hanzo {
  margin-top: -395px;
  margin-left: 600px;
}
